	.footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		text-align: center;
	}

body{
	background-color: grey;
	font-family: sans-serif;
	font-weight: bold;

}

.lsection{
	width: 50%;
	text-align: left;
}

	.rsection {
		width: 50%;
		text-align: left;
	}

.margin{
	margin-bottom: 20%;
}
