



	.footer {
		position: fixed;
		left: 0;
		bottom: 0;	
		width: 100%;
		text-align: center;
	}

body{

	background-color: grey;
	font-family: sans-serif;
	font-weight: bold;

}

.halfpage{
	width: 45%;
	text-align: center;
	border-style: border-bottom;
}

.margin{
	margin-bottom: 20%;
}

.flex-container{
	display: flex;
}

#flexWrap{
	flex-wrap: wrap;
}

#flexColumn{
	flex-direction: column;
}

.sidebar{
	width: 20%;
	border-style: border-box;
	float: right;

}

.flexCenter{
	align-items: center;
}

#profileList{
	width: 20%;
}

.content{
	flex: 1 0 auto;
}


@media only screen and (max-width: 600px) {
	.halfpage{
		width: 100%;
	}
}