body{
	background-color: white;
1
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}

#index{
	background: url("images/kitchenaid1.jpeg");
	
	background-size: 150%;
	background-position: 0px 300px;
}

#aboutUs{
	background: url("images/kitchenaid.jpg");
	
	background-position:0px 300px;
	background-size: 125%;
}

#brands{
	background: url("images/laundry2.png");
	background-size: 125%;
	background-position:0px 400px;

}

#schedule{
	background: url("images/laundry1.jpg");
	background-size: 100%;
	background-position: 0px 350px;
}

#contact{
	background: url("images/kitchen4.jpg");
	background-size: 100%;
	background-position: 0px 350px;
}
#techtrack{
	background: url("images/kitchen5.jpg");
	background-size: 150%;
	background-position: 0px 250px;
}
#jobstatus{
	background: url("images/laundry3.png");
	background-size: 100%;
	background-position: 0px 350px;
}
#employment{
	background: url("images/handshake.jpg");
	background-size: 100%;
	background-position: 0px 350px;
	background-color: black;
}
#servicearea{
	background: url("images/map.jpg");
	background-size: 2000px;
	background-position: 0px 350px;
	background-color: black;
}

h2{
	text-shadow: 2px 2px black;
}

h3{
	text-shadow: 2px 2px black;
}

h5{
	text-shadow: 2px 2px black;
}




.body{
	padding: 10px;
	padding-bottom: 60px;


}


.container{
	min-height: 100%;
	position: relative;

}

.halfpage{
	margin: auto;
	width: 50%;
	text-align: center;
	border-style: border-bottom;
}

.halfpageImg{
	margin: auto;
	width: 70%;
	text-align: center;
	border-style: border-bottom;
}

.flexcontainer{
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.margin{
	margin-bottom: 20%;
}


.footer {
	position: absolute;
	height: 60px;
	left: 0;
	bottom: 0;	
	width: 100%;
	text-align: center;
}

.footer p{
	margin: 0;
	padding: 10px;
}

.mobileshrink {
	width: 100%;
}

@media only screen and (max-width: 600px) {
	.halfpage{
		width: 100%;
	}
	.mobileshrink {
	width: 100%;
	}
	.halfpageImg{
		width: 100%;
	}

	.mobileShrinkImg{
		width: 100%;
	}
	#index{
		background-size: 1200px;
	}
	#aboutUs{
		background-size: 1000px;
	}
	#brands{
		background-size: 900px;
		background-position: -100px 400px;
	}
	#schedule{
		background-size: 1800px;
		background-position: -200px 400px;
	}
	#contact{
		background-size: 1400px;
		background-position: -100px 400px;
	}
	#techtrack{
		background-size: 2000px;
		background-position: -100px 400px;
	}
	#jobstatus{
		background-size: 1000px;
		background-position: -150px 400px;
	}
	#employment{
		background-size: 1500px;
		background-position: -400px 400px;
	}
	#servicearea{
		background-size: 1500px;
		background-position: -300px 400px;
	}
}




#submitForm {
	margin-top: 10px;
}

#imgCenter {

	vertical-align: right;
}

.amber{
	border-style: solid;
	border-color: #ffc007;
}

@media only screen and (min-width: 800px) {



}


.shaded{
	
	background: rgba(0, 0, 0, 0.7);
}

.opaque{
	
	background: rgba(255, 255, 255, 0.1);
}


